.seperator {
    display: flex;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    top: 0px;
    left: 20px;
}

h2 {
    margin: 10px;
    position: absolute;
}

.map {
    position: absolute;
    width: 100vw;
    height: 100vh;
    border: 2px solid black;
    background-color: darkolivegreen;
    z-index: -5;
}

.overlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.options-box {
    background-color: grey;
    position: absolute;
    width: 25vw;
    height: 100vh;
    left: 75vw;
}