.seperator {
    display: flex;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    position: absolute;
    top: 0px;
}

h2 {
    margin: 10px;
    position: absolute;
}

.map {
    position: absolute;
    width: 98vw;
    height: 89vh;
    top: 10vh;
    border: 2px solid black;
    margin-right: 20px;
}

.overlay {
    position: absolute;
    width: 98vw;
    height: 90vh;
}

.options-box {
    background-color: grey;
    position: absolute;
    width: 23vw;
    height: 89vh;
    left: 75vw;
    top: 10vh;
}